{% extends "helpmapp/cliente/bases/aboutus.html" %}

{% load staticfiles %}
{% block menu%}
    <!--AQUI VA UN CSRF PARA RECOGER EL NOMBRE DEL USUARIO Y LA SESION-->
    <li><a class="labels h4 " href="{% url 'helpmapp.views.index_hm' %}"> Inicio </a></li>
    <li ><a class="labels h4 " href="{% url 'helpmapp.views.listar_centroAcopioHM' %}" > Donar</a></li>
    <li><a class="labels h4 " href="{% url 'helpmapp.views.mostrar_GraficoEstadistico' %}"> Estadísticas</a></li>
    <!--
    <li><a href="{% url 'helpmapp.views.mostrar_voluntario' %}" > Voluntario</a></li>-->
    <li><a class="labels h4 " href="{% url 'helpmapp.views.mostrar_tutoriales' %}"> Tutoriales </a></li>
    <li ><a class="labels h4 " href="{% url 'helpmapp.views.mostrar_sobreNosotrosHM' %}"> Sobre Nosotros</a> </li>
    <li class=" dropdown">
      <a  class="h4 labels dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hola, {{request.session.member_id}}<span class="caret"></span></a>
      <ul class="dropdown-menu">
          <li><a href="{% url 'helpmapp.views.profile' nombre_usuario=request.session.member_id  %}">Ver Perfil</a></li>
          <li><a href="{% url 'helpmapp.views.change_password' nombre_usuario=request.session.member_id  %}">Cambiar Contraseña</a></li>
          <li><a href="{% url 'helpmapp.views.logout' %}">Cerrar Sesión</a></li>
      </ul>

    </li>
{% endblock %}
