{% extends "helpmapp/cliente/bases/base_hm.html" %}

{% load staticfiles %}

{% block title %}helpMapp - Change Password {% endblock %}

{% block css %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
    <link href="{% static 'styles/message.css' %}" rel="stylesheet">

{% endblock %}

{% block body %}
<div class="top"></div>
<div class="container">
	
	<div>
		<img src="{% static 'img/helpMapp.jpg' %}">

		<div class="recover-box">

			<form class= "loginbox" method="POST">
				{% csrf_token %}
				<hr class="featurette-divider">
				<label class = 'h4 center pt-20 title_message' for="mail">Cambiar Contraseña</label></h3>
				<!--hr class="featurette-divider"-->
				<h4 class = 'message mt-30'>Ingresa tu nueva contraseña:</h4>
				{{ form.password }}
				<h4 class = 'message mt-30'>Confirma tu nueva contraseña:</h4>
				{{ form.confirm_password }}
				<!--hr class="featurette-divider"-->
				<hr class="featurette-divider">
				<button  type="submit" id="enviar" value="Enviar" >Enviar</button>				
			</form>
		</div>
	</div>
</div>

	
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/login.js' %}"></script>
    <script src="{% static 'js/client/recover.js' %}"></script>

{% endblock %}