{% extends "helpmapp/cliente/bases/index.html" %}

{% block menu%}
    <!--AQUI VA UN CSRF PARA RECOGER EL NOMBRE DEL USUARIO Y LA SESION-->
    <li><a class="labels h4 " href="{% url 'helpmapp:index_hm' %}"> Inicio </a></li>
    <li ><a class="labels h4 " href="{% url 'helpmapp:listar_centroAcopioHM' %}" > Donar</a></li>
    <li><a class="labels h4 " href="{% url 'helpmapp:mostrar_GraficoEstadistico' %}"> Estadísticas</a></li>
    
    <li><a class="labels h4 " href="{% url 'helpmapp:mostrar_tutoriales' %}"> Tutoriales </a></li>
    <li ><a class="labels h4 " href="{% url 'helpmapp:mostrar_sobreNosotrosHM' %}"> Sobre Nosotros</a> </li>
    <li class=" dropdown">
      <a  class="h4 labels dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hola,{{request.session.member_id}}<span class="caret"></span></a>
      <ul class="dropdown-menu">
          <li><a href="{% url 'helpmapp:profile' nombre_usuario=request.session.member_id %}">Ver Perfil</a></li>
          <li><a href="{% url 'helpmapp:change_password'  %}">Cambiar Contraseña</a></li>
          <li><a href="{% url 'helpmapp:logout' %}">Cerrar Sesión</a></li>
      </ul>
    </li>
{% endblock %}
