{% extends "helpmapp/cliente/bases/base_hm.html" %}

{% load static %}

{% block title %}helpMapp - Estadísticas {% endblock %}


{% block css %}
    <link href="{% static 'styles/donar.css' %}" rel="stylesheet">
    <link href="{% static 'styles/carousel.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'd3/d3.min.js' %}"></script>
    <script src="{% static 'js/tests/vendor/jquery.min.js' %}"></script>
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/inventarioComida-estilo.css' %}">

{% endblock %}

{% block body %}
<div class="reserver"></div>
    <!-- Carousel
    ================================================== -->
    <div class="container-fluid">
      <div class="col-md-1"></div>
      <div class="col-md-10">
      <div class="col-md-4 donar-left">
        
      </div>
      
      <div class="col-md-8"  id ="map">
      
      </div>
      </div>

      <div class="col-md-1"></div>
      <div class="col-md-6 chart-container">
        <svg class="chart"> </svg>
      </div> 
    </div>
   
    <div class="col-md-6 chart-container" id="contenedor-grafico">
      
  
    <svg class="chart"> </svg>
    <svg class ="chart2"></svg>
    <svg class ="chart3"></svg>
    

    </div>

      
      <div class="reserver"></div>
      <div class="reserver"></div>
{% endblock %}
{% block scripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKUreK6wFQ5A4NFLa15dZSEH85f5XytWo&callback=initMap"
    async defer></script>
    <script src="{% static 'js/mapa.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.min.js"></script>
    <script type="text/javascript" src="{% static 'js/estadisticas-cliente.js' %}"></script>
    <!--<script src="{% static 'js/filtrar.js' %}"></script>
    <script src="{% static 'js/estadisticas.js' %}"></script>!-->
    
{% endblock %}



