{% extends "helpmapp/cliente/bases/base_hm.html" %}

{% load staticfiles %}

{% block title %}helpMapp - Estadísticas {% endblock %}


{% block css %}
    <link href="{% static 'styles/donar.css' %}" rel="stylesheet">
    <link href="{% static 'styles/carousel.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'd3/d3.min.js' %}"></script>
    <script src="{% static 'js/tests/vendor/jquery.min.js' %}"></script>
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/inventarioComida-estilo.css' %}">

{% endblock %}

{% block body %}
<div class="reserver"></div>
    <!-- Carousel
    ================================================== -->
    <div class="container-fluid">
      <div class="col-md-1"></div>
      <div class="col-md-10">
      <div class="col-md-4 donar-left">
        <h2>
          Localiza el UPC que desees y observa como va la recolección:
        </h2>
      <form>
          <div class="form-group row">
              <label for="province" class="col-sm-2 col-form-label">Provincia: </label>
            <div class="col-sm-10">
              <select class=" form-control custom-select mb-2 mr-sm-2 mb-sm-0" id="province">
              
            </select>
              </div>
          </div>
          <div class="form-group row">
              <label for="city" class="col-sm-2 col-form-label">Ciudad: </label>
            <div class="col-sm-10">
              <select class=" form-control custom-select mb-2 mr-sm-2 mb-sm-0" id="city">
            </select>
              </div>
          </div>
      </form>
      </div>
      
      <div class="col-md-8"  id ="map">
      
      </div>
      </div>

      <div class="col-md-1"></div>
      <div class="col-md-6 chart-container">
        <svg class="chart"> </svg>
      </div> 
    </div>
   
    <div class="col-md-6 chart-container" id="contenedor-grafico">
      <script>
        {% if lista %}
          let tag = $("#contenedor-grafico")
          let oculto =  $("<input></input>")
          var l={{lista|safe}}
          //console.log(l)
          string = l.join("-")
          oculto.attr("type","hidden")
          oculto.attr("class","datosOcultos")
          oculto.attr("value",string)
          tag.append(oculto)
          
        {% else %}
            alert("NO llego la lista");
        {% endif %}  
        
      </script>
  
    <svg class="chart"> </svg>
  </div>

      <div class="table-striped" id="tabla">
      <h2>Informes oficiales:</h2>
      </div>
      <div class="reserver"></div>
      <div class="reserver"></div>
{% endblock %}
{% block scripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKUreK6wFQ5A4NFLa15dZSEH85f5XytWo&callback=initMap"
    async defer></script>
    <script src="{% static 'js/mapa.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.min.js"></script>
    <script type="text/javascript" src="{% static 'js/estadisticas-cliente.js' %}"></script>
    <!--<script src="{% static 'js/filtrar.js' %}"></script>
    <script src="{% static 'js/estadisticas.js' %}"></script>!-->
    
{% endblock %}



