{% extends "helpmapp/cliente/bases/base_hm.html" %}

{% load static %}

{% block title %}helpMapp - Tutoriales {% endblock %}


{% block css %}
	    <link href="{% static 'styles/tutoriales.css' %}" rel="stylesheet">
{% endblock %}


{% block body %}
		<div class="reserver"></div>
		
		<div class="container">
			<div class="col-md-6">
				<h1 class="text-center"> ¡Bienvenido a Tutoriales! </h1>
				<h2 class="text-muted text-center"> Aquí encontrarás vídeos que te ayudarán a saber qué donar, que hacer en las réplicas y acciones básicas para los tiempos post-desastre.
				</h2>
				<h2 class="text-info righter"><span> Vídeo más visto</span></h2>
				<h2  class="text-muted righter" ><span>¿Qué donar? &middot; 245000 visitas &middot;</span></h2>
			</div>
			<div class="col-sm-6">
	
				<br>
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/uZGq3BgX2Wg"></iframe>
				</div>
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					
					<h2>Cocinar en una lata</h2>
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gXzZjrrDtPY"></iframe>
					</div>
				</div>
				<div class="col-sm-6">
					
					<h2>¿Cómo encender fogata?</h2>
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vXYL6-vFLo8"></iframe>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					
					<h2>Sismos: Antes, durante y después</h2>
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mqr0J3QfCpM"></iframe>
					</div>
				</div>
				<div class="col-sm-6">
					
					<h2>¿Qué hacer en caso de réplica?</h2>
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XZccV2-8iMk"></iframe>
					</div>
				</div>
			</div>
		</div>
		<div class="reserver"></div>
{% endblock %}
{% block scripts %}
{% endblock %}
