{% extends "helpmapp/cliente/bases/donar.html" %}
{% load static %}
{% block menu%}
  <!--AQUI VA UN CSRF PARA RECOGER EL NOMBRE DEL USUARIO Y LA SESION-->
  <li><a class="labels h4 " href="{% url 'helpmapp:mostrar_indice' %}"> Inicio </a></li>
  <li ><a class="labels h4 " href="{% url 'helpmapp:listar_centroAcopio' %}" > Donar</a></li>
  <li><a class="labels h4 " href="{% url 'helpmapp:registrar_helpmapper' %}" > Voluntario</a></li>-->
 

  <li ><a class="labels h4 " href="{% url 'helpmapp:mostrar_sobreNosotros' %}"> Sobre Nosotros</a> </li>
  <li ><a class="labels h4 " href="{% url 'helpmapp:mostrar_login' %}"> Ingresar</a> </li>
{% endblock %}
