*{
	font-family: Cairo;
}


.reserver{
	height: 50px;
}
/* Background Color paleta Helpmapp*/
body {
	background-color: #EBF2FF;
}
.fixed-bottom{

	width: 100%;
	position: fixed;
	bottom: 0;
}
.fixed-top{

	width: 100%;
	position: fixed;
	top: 0;
}

.fixed-bottom > p{
	margin:0;
	color: #ece242;
	text-align: right;
}



.paleta1{
	background-color: #212a85;

}



/*text color header and footer*/
.navbar-inverse .navbar-nav>li>a {
    color: #ece242;
}

.navbar-inverse .navbar-toggle:hover {
	background-color: #212a85;
}

.header-icon {
	max-height: 50px;

}

.form-control {
	margin-right: 10px;
}


