{% extends "helpmapp/cliente/base.html" %}

{% load staticfiles %}

{% block title %} helpMapp {% endblock %}


{% block css %}
    
    <link href="{% static 'styles/index.css' %}" rel="stylesheet">
    <link href="{% static 'styles/carousel.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="{% static 'img/slide1.jpg' %}" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1 class="paletaHM-text-header">Terremoto Ecuador</h1>
              <p class="paletaHM-text">#16S</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="{% static 'img/slide2.jpg' %}" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>!Encuentra donde donar¡</h1>
              <p>Consulta en Donar el UPC más cercano para realizar tu donación. Presiona  <a href="donar.html" class="text-info"> Donar </a>y convierte en un helpMapper. </p> 
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="{% static 'img/slide3.jpg' %}" alt="Third slide">
          <div class="container">
            <div class="carousel-caption ">
              <h1 >¿Quieres ser voluntario?</h1>
              <p>Ingresa tus datos en el formulario de Voluntario y sé quien levante al Ecuador de nuevo.</p>
              <p><a class="btn btn-lg btn-info btn-socket" href="voluntario.html" role="button">Únete</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
 
 
    <div class="col-md-12 lastOne">
      <h2 class="featurette-heading">helpMapp <span class="text-muted">Gestor de donaciones</span></h2>
      <p class="lead text-center">Una iniciativa gubernamental para la optimización en la entrega de donaciones para los damnificados del Terremoto del 16 de abril</p>

      <hr class="featurette-divider"> <!-- TIMELINE -->
        <div class="container">
          <div class="page-header">
          <h1 class="text-center">helpMappers: al momento</h1>
        </div>
        <div id="timeline">
        <div class="row timeline-movement timeline-movement-top">
          <div class="timeline-badge timeline-future-movement">
              <a >
                  <span class="glyphicon glyphicon-plus"></span>
              </a>
          </div>
          <div class="timeline-badge timeline-filter-movement">
              <a >
                  <span class="glyphicon glyphicon-time"></span>
              </a>
          </div>

        </div>
        <div class="row timeline-movement">

            <div class="timeline-badge">
                <span class="timeline-balloon-date-day">20</span>
                <span class="timeline-balloon-date-month">ABRIL</span>
            </div>


            <div class="col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-11">
                        <div class="timeline-panel credits">
                            <ul class="timeline-panel-ul">
                                <li><span class="importo ultimo">419 helpMappers</span></li>
                                <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 18h58</small></p> </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

          </div>

      <!--due -->

      <div class="row timeline-movement">


          <div class="timeline-badge">
              <span class="timeline-balloon-date-day">19</span>
              <span class="timeline-balloon-date-month">ABRIL</span>
          </div>

          <div class="col-sm-offset-6 col-sm-6  timeline-item">
              <div class="row">
                  <div class="col-sm-offset-1 col-sm-11">
                      <div class="timeline-panel debits">
                          <ul class="timeline-panel-ul">
                              <li><span class="importo"> 512 helpMappers</span></li>
                              <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 18h58</small></p> </li>
                          </ul>
                      </div>

                  </div>
              </div>
          </div>




      </div>
      <div class="row timeline-movement">


          <div class="timeline-badge">
              <span class="timeline-balloon-date-day">18</span>
              <span class="timeline-balloon-date-month">ABRIL</span>
          </div>

          <div class="col-sm-6  timeline-item">
              <div class="row">
                  <div class="col-sm-11">
                      <div class="timeline-panel credits">
                          <ul class="timeline-panel-ul">
                              <li><span class="importo"> 256 helpMappers</span></li>
                              <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 18h58</small></p> </li>
                          </ul>
                      </div>

                  </div>
              </div>
          </div>


      </div>
      </div>

      </div>
      <div class="col-lg-12 text-center socket-container">
      <div class="col-lg-2"></div>

      <div class="col-lg-8">
      <h2>¿Deseas unirte al enorme grupo de donantes que reconstruyen Ecuador?</h2>
      <h3>Clickea &darr; aquí </h3>
        <button   type="submit" class="btn btn-default sender btn-socket"> Be a helpMapper!</button>

      </div>
      <div class="col-lg-2">
      
      </div>

      </div>
      <hr class="featurette-divider"> 
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <h1 class="text-center text-info">Organismos de Ayuda</h1>
      <div class="container marketing ">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="img-circle" src="{% static 'img/minint.jpg' %}" alt="ministeriointerior" width="140" height="140">
            <h2>Ministerio del Interior</h2>
            <p>Ministerio a cargo del control del orden público en la zona de desastre.</p>
            <p><a class="btn btn-info btn-socket" href="https://www.ministeriointerior.gob.ec/" role="button">Ir</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="img-circle" src="{% static 'img/sngr.jpg' %}"alt="sngr" width="140" height="140">
            <h2>Secretaría Nacional de Gestión de Riesgos</h2>
            <p>Ente coordinador y ejecutador de entrega de donaciones en situaciones de emergencia.</p>
            <p><a class="btn btn-info btn-socket" href="https://www.gestionderiesgos.gob.ec/" role="button">Ir</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="img-circle" src="{% static 'img/policia.jpg' %}" alt="policia" width="140" height="140">
            <h2>Policía Nacional del Ecuador</h2>
            <p>Colaborador in-situ del Ministerio del Interior.</p>
            <p><a class="btn btn-info btn-socket" href="https://www.policiaecuador.gob.ec" role="button">Ir </a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

      </div><!-- /.container -->


</div>

{% endblock %}
{% block scripts %}
    <script src="{% static 'js/index.js' %}"></script>

{% endblock %}
