{% extends "helpmapp/cliente/base.html" %}

{% load staticfiles %}

{% block title %}helpMapp - Login {% endblock %}

{% block css %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="top"></div>
	<div class="container">
		
		<div class="login-box">
			<img src="{% static 'img/helpMapp.jpg' %}">
			<div>
				<div class="reserver"></div>
				<label for="username">Usuario</label>
				<br/>
				<input type="text" id="username">
				<br/>
				<label for="password">Contraseña</label>
				<br/>
				<input type="password" id="password">
				<div class="reserver"></div>
				<button type="submit">Entrar!</button>

				<a href="#"><p class="small">Forgot your password?</p></a>
			</div>

		</div>
	</div>
{% endblock %}