{% extends "helpmapp/cliente/base.html" %}

{% load staticfiles %}

{% block title %}helpMapp - Recovering Password {% endblock %}

{% block css %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="top"></div>
	<div class="container">
		
		<div id="square">
			<img src="{% static 'img/helpMapp.jpg' %}">

			<div class="login-box">
				<div class="reserver"></div>
				<label for="username">Usuario</label>
				<br/>
				<input type="text" id="username">
				<br/>
				<label for="password">Contraseña</label>
				<br/>
				<input type="password" id="password">
				<div class="reserver"></div>
				<button type="submit">Entrar!</button>
				<form>
				<a  href="{% url 'helpmapp.views.recovery'%}" class="small"><p id="link-recover">Forgot your password?</p></a>
				</form>
			</div>
		</div>
	</div>

	
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/login.js' %}"></script>
    <script src="{% static 'js/client/recover.js' %}"></script>

{% endblock %}