{% extends "helpmapp/cliente/base.html" %}

{% load staticfiles %}

{% block title %}helpMapp - Login {% endblock %}

{% block css %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="top"></div>
<div class="container">
	
	<div>
		<img src="{% static 'img/helpMapp.jpg' %}">

		<div class="recover-box">
			<div class="reserver"></div>
			<form class= "loginbox" method="POST">
				{% csrf_token %}
				<label for="mail">Correo Electrónico</label>
				<br/>
				{{form.correo}}
				<br/>
				<button type="submit" value="Enviar" href="{% url 'helpmapp.views.mostrar_login' %}">Enviar</button>
			</form>
		</div>
	</div>
</div>

	
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/login.js' %}"></script>
    <script src="{% static 'js/client/recover.js' %}"></script>

{% endblock %}