<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>helpMapp - Tutoriales</title>
		<link rel="stylesheet" href="../styles/principal.css">
		<link href="../dist/css/bootstrap.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
		<link href="../dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="../dist/css/bootstrap.css" rel="stylesheet">
		<link href="../styles/index.css" rel="stylesheet">
		<link href="../styles/hdft.css" rel="stylesheet">
		<link href="../styles/tutoriales.css" rel="stylesheet">
		<link rel="icon" href="https://goo.gl/bJHmja">
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid paleta1">
				<div class="navbar-header paleta1">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar">  </span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					
				</div>
				
				<div id="navbar" class="navbar-collapse collapse" >
					<img src="../img/helpMapp.jpg" class="header-icon" alt="helpMapp-logo">
					<ul class="nav navbar-nav navbar-right ">
						<li><a href="index.html"> Inicio </a></li>
						<li ><a href="donar.html" > Donar</a></li>
						<li><a href="statistics.html"> Estadísticas</a></li>
						<li><a href="voluntario.html" > Voluntario</a></li>
						<li><a href="tutoriales.html"> Tutoriales </a></li>
						<li ><a href="aboutus.html"> Sobre Nosotros</a> </li>
						<li ><a href="#">  Ingresar</a> </li>
                		<li ><a href="a#"> Registrarse</a> </li>
						<li>
							<form class="navbar-form navbar-right">
								<input type="text" class="form-control" placeholder="Buscar">
							</form>
						</li>
					</ul>
					
				</div>
			</div>
		</nav>
		<div class="reserver"></div>
		
		<div class="container">
			<div class="col-md-6">
				<h1 class="text-center"> ¡Bienvenido a Tutoriales! </h1>
				<h2 class="text-muted text-center"> Aquí encontrarás vídeos que te ayudarán a saber qué donar, que hacer en las réplicas y acciones básicas para los tiempos post-desastre.
				</h2>
				<h2 class="text-info righter"><span> Vídeo más visto</span></h2>
				<h2  class="text-muted righter" ><span>¿Qué donar? &middot; 245000 visitas &middot;</span></h2>
			</div>
			<div class="col-sm-6">
	
				<br>
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/uZGq3BgX2Wg"></iframe>
				</div>
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					
					<h2>Cocinar en una lata</h2>
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gXzZjrrDtPY"></iframe>
					</div>
				</div>
				<div class="col-sm-6">
					
					<h2>¿Cómo encender fogata?</h2>
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vXYL6-vFLo8"></iframe>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					
					<h2>Sismos: Antes, durante y después</h2>
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mqr0J3QfCpM"></iframe>
					</div>
				</div>
				<div class="col-sm-6">
					
					<h2>¿Qué hacer en caso de réplica?</h2>
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XZccV2-8iMk"></iframe>
					</div>
				</div>
			</div>
		</div>
		<div class="reserver"></div>
      <!-- FOOTER -->
      <footer class="panel-footer fixed-bottom paleta1">
        <p>TAWS 2017 &middot;  Todos los derechos reservados  &middot;</p>
      </footer>
		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="../js/tests/vendor/jquery.min.js"><\/script>')</script>
		<script src="../dist/js/bootstrap.min.js"></script>
	</body>
</html>