{% extends "helpmapp/cliente/bases/base.html" %}

{% load static %}

{% block title %}helpMapp - Donaciones {% endblock %}


{% block css %}
    <link href="{% static 'styles/donar.css' %}" rel="stylesheet">

{% endblock %}

{% block body %}
<div class="reserver"></div>
    <!-- Carousel}}
    ================================================== -->
    <div class="container-fluid">
      <div class="col-md-1"></div>
      <div class="col-md-10">
      <div class="col-md-4 donar-left">
        <h2>
          Busca el UPC en el lugar que deseas:
        </h2>
      <form id="form" method="Post" action="">
      {% csrf_token %}
          <div class="form-group row">
              <label for="province" class="col-sm-2 col-form-label">Provincia: </label>
            <div class="col-sm-10">
              <select class=" form-control custom-select mb-2 mr-sm-2 mb-sm-0" id="province">
            </select>
              </div>
          </div>
          <div class="form-group row">
              <label for="city" class="col-sm-2 col-form-label">Ciudad: </label>
            <div class="col-sm-10">
              <select class=" form-control custom-select mb-2 mr-sm-2 mb-sm-0" id="city">
            </select>
              </div>
          </div>
      </form>
      </div>
      
      <div class="col-md-8"  id ="map">
      <script>
        var map;
          function initMap() {
            var myLatLng = {lat: -2.58596, lng: -79.8239};
              map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -2.158596, lng: -79.888239},
                zoom: 16
              });
              
              {% if centros %}
                {% for centro in centros %}
                  var contentString = "{{centro.nombre_upc}} \n Cantidad Maxima de Agua: {{centro.almacenamiento_agua}} \n Cantidad Maxima de Ropa: {{centro.almacenamiento_ropa}} \n Cantidad Maxima de Comida: {{centro.almacenamiento_comida}}";

                  var infowindow1 = new google.maps.InfoWindow({
                    content: "{{centro.nombre_upc}} \n Cantidad Maxima de Agua: {{centro.almacenamiento_agua}} \n Cantidad Maxima de Ropa: {{centro.almacenamiento_ropa}} \n Cantidad Maxima de Comida: {{centro.almacenamiento_comida}}"
                  });
                  var marker = new google.maps.Marker({
                    position: {lat: parseFloat("{{centro.latitud}}".replace(",",".")), lng: parseFloat("{{centro.longitud}}".replace(",","."))},
                    map: map,
                    title: "{{centro.nombre_upc}} \n Cantidad Maxima de Agua: {{centro.almacenamiento_agua}} \n Cantidad Maxima de Ropa: {{centro.almacenamiento_ropa}} \n Cantidad Maxima de Comida: {{centro.almacenamiento_comida}}"
                  });
                  
     
                {% endfor %}
                {% else %}
                    alert("NO EXISTEN CENTROS DE ACOPIO EN LA BASE!!");
                {% endif %}  
              var infoWindow = new google.maps.InfoWindow({map: map});
              // Try HTML5 geolocation.
              if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                  {% if latitud %}
                    var pos = {
                    lat: {{latitud}},
                    lng: {{longitud}}
                  };
                  {% else %}
                    var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                  };
                  {% endif %}
                  
                  infoWindow.setPosition(pos);
                  infoWindow.setContent('Tu Ubicacion');
                  map.setCenter(pos);
                  map.setZoom(16)
                }, function() {
                  handleLocationError(true, infoWindow, map.getCenter());
                });
              } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
              }
              
          }
            function handleLocationError(browserHasGeolocation, infoWindow, pos) {
              infoWindow.setPosition(pos);
              infoWindow.setContent(browserHasGeolocation ?
                                  'Error: The Geolocation service failed.' :
                                  'Error: Your browser doesn\'t support geolocation.');
            }
            
      </script>
      </div>
      </div>
      <div class="col-md-1"></div>
      
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKUreK6wFQ5A4NFLa15dZSEH85f5XytWo&callback=initMap"
    async defer></script>
    
    <!--<script src="{% static 'js/filtrar.js' %}"></script>
    <script src="{% static 'js/donar.js' %}"></script>!-->
{% endblock %}





