{% extends "helpmapp/Administrador/superAdmin/base.html" %}
{% load staticfiles %}
    {% block title %}HelpMapp-Admin:Crear admin{% endblock %}
{% block css %}
    <link href="{% static 'css/estiloCrearAdmin.css' %}" rel="stylesheet">
{% endblock %}  
     {% block body %}
     <section class="col-sm-9 col-md-9">
       <div class="container col-sm-9 col-md-9 ">
        <h3>Crear administrador</h3>
        <form class="form-horizontal" action="#">
          <div class="form-group">
            <label class="control-label col-sm-4" for="oldpass">Nombre de usuario:</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="oldpass" placeholder="nombre de usuario" name="viejaclave">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4" for="newpass">Contraseña:</label>
            <div class="col-sm-6">          
              <input type="password" class="form-control" id="newpass" placeholder="contraseña" name="nuevaclave">
            </div>
          </div>
           <div class="form-group">
            <label class="control-label col-sm-4" for="pwd">Confirmar contraseña:</label>
            <div class="col-sm-6">          
              <input type="password" class="form-control" id="pwd" placeholder="confirmar contraseña" name="pwd">
            </div>
          </div>
          
         <div class="form-group row">
          <label id="pregunta" class="control-label col-sm-4" for="sel1">Pregunta secreta:</label>
            <select class="form-control col-sm-6" id="sel1">
            <option value = "1">Nombre de su primera mascota</option>
            <option value = "2">Nombre de profesora de tercer año</option>
            <option value = "3">Apodo de infancia</option>
            <option value = "4">Nombre de comida favorita</option>
            </select>
          </div>
         

          <div class="form-group">
            <label class="control-label col-sm-4" for="oldpass2">Respuesta:</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="oldpass2" placeholder="respuesta de pregunta secreta" name="viejaclave">
            </div>
          </div>

          <div class="form-group">        
            <div class="col-sm-offset-2 col-sm-10" id="div_submit">
              <button type="submit" class="btn btn-primary" id="btn-submit">Confirmar</button>
            </div>
        </div>
        </form>
      </div>
     </section>

     {% endblock %}
       {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    {% endblock %}
