{% extends "helpmapp/Administrador/superAdmin/base.html" %}

{% load staticfiles %}

{% block title %} HelpMapp-Admin:Crear producto{% endblock %}


{% block css %}
    
    <link href="{%static 'css/crearProducto-estilo.css' %}" rel="stylesheet">
 {% endblock %}   

     {% block body %}
       <div class="container col-sm-9 col-md-9 ">
        <h3>Crear Producto</h3>
           
  <form>
    {% csrf_token %}
    {{ form.errors }}
    {{ form.non_field_errors }}
    <div class="form-group row">
      <label for="nombre_producto" class="col-sm-2 col-form-label">Nombre del producto: </label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="nombre_producto" name="nombre_producto" placeholder="Croquetas de perro">
      </div>
    </div>

    <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="lista-categorias">Categoria</label>
            <div class="col-sm-5">
              <select class="form-control" id="id_categoria" name="id_categoria">
                <option value="">-- Seleccione una opci&oacute;n --</option>
                <option value=1>Comida</option>
                <option value=2>Ropa</option>
                <option value=3>Agua</option>
              </select>
            </div>
    </div>
   
    <!-- <div class="form-group row">
      <label for="cantidad" class="col-sm-2 col-form-label">Cantidad:  </label>
      <div class="col-sm-2">
        <input type="number" class="form-control" id="cantidad" name="cantidad" placeholder="1">
      </div>
    </div> -->
    
    <input type="hidden" id="estado" name="estado" value=1>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10 contenedor-submit">
        <input type="submit" name='submit' class="btn btn-primary" value='Crear producto'>
      </div>
    </div>
  </form>
      </div>
     
{% endblock %}
