{% extends "helpmapp/Administrador/superAdmin/base.html" %}
{% load staticfiles %}

    {% block title %}HelpMapp-Sistema de Administración:Index{% endblock %}

{% block css %}      <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
{% endblock %}
{% block body %}
      <div class="col-sm-9 col-md-9" style="
    margin-bottom: 8%;">
        <h3 id="pageTitle" >Vista nacional</h3>

        <div class="container col-sm-12 col-md-12 contenedor-recuadros row">
          <div class="col-md-4 col-sm-4">
          <img src="{% static 'img/basket.svg' %}">
          <br>
            {% if comida %}
              <span id="cantidad">{{comida}} kg</span>
            {% else %}
              <span id="cantidad">0 kg</span>
            {% endif %} 
            
            <p>de alimentos</p>
          </div>
          <div class="col-md-4 col-sm-4">
          <img src="{% static 'img/water.svg' %}">
          <br>
            {% if agua %}
              <span id="cantidad">{{agua}} litros</span>
            {% else %}
              <span id="cantidad">0 litros</span>
            {% endif %} 
            <p>de agua</p>
          </div>
          <div class="col-md-4 col-sm-4">
          <img src="{% static 'img/shirt.png' %}">
            <br>
            {% if ropa %}
              <span id="cantidad">{{ropa}} prenras</span>
            {% else %}
              <span id="cantidad">0 prendas</span>
            {% endif %} 
            <p>de ropa</p>
          </div>
        </div>



        <div id="map"></div>
        <script>
        var map;
          function initMap() {
            var myLatLng = {lat: -2.58596, lng: -79.8239};
              map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -2.158596, lng: -79.888239},
                zoom: 16
              });
              
              {% if centros %}
                {% for centro in centros %}
                  var contentString = "{{centro.nombre_upc}} \n Cantidad Maxima de Agua: {{centro.almacenamiento_agua}} \n Cantidad Maxima de Ropa: {{centro.almacenamiento_ropa}} \n Cantidad Maxima de Comida: {{centro.almacenamiento_comida}}";

                  var infowindow1 = new google.maps.InfoWindow({
                    content: "{{centro.nombre_upc}} \n Cantidad Maxima de Agua: {{centro.almacenamiento_agua}} \n Cantidad Maxima de Ropa: {{centro.almacenamiento_ropa}} \n Cantidad Maxima de Comida: {{centro.almacenamiento_comida}}"
                  });
                  var marker = new google.maps.Marker({
                    position: {lat: parseFloat("{{centro.latitud}}".replace(",",".")), lng: parseFloat("{{centro.longitud}}".replace(",","."))},
                    map: map,
                    title: "{{centro.nombre_upc}} \n Cantidad Maxima de Agua: {{centro.almacenamiento_agua}} \n Cantidad Maxima de Ropa: {{centro.almacenamiento_ropa}} \n Cantidad Maxima de Comida: {{centro.almacenamiento_comida}}"
                  });
                  
     
                {% endfor %}
                {% else %}
                    alert("NO EXISTEN CENTROS DE ACOPIO EN LA BASE!!");
                {% endif %}  
              var infoWindow = new google.maps.InfoWindow({map: map});
              // Try HTML5 geolocation.
              if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                  var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                  };
                  infoWindow.setPosition(pos);
                  infoWindow.setContent('Tu Ubicacion');
                  map.setCenter(pos);
                  map.setZoom(16)
                }, function() {
                  handleLocationError(true, infoWindow, map.getCenter());
                });
              } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
              }
              
          }
            function handleLocationError(browserHasGeolocation, infoWindow, pos) {
              infoWindow.setPosition(pos);
              infoWindow.setContent(browserHasGeolocation ?
                                  'Error: The Geolocation service failed.' :
                                  'Error: Your browser doesn\'t support geolocation.');
            }
            
      </script>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpbmElX0xQcjb9FB3Vk32-lj8kNiXcQ7k&callback=initMap">
        </script>
      </div>
    </section>

{% endblock %}
  </div>