{% extends "helpmapp/Administrador/superAdmin/base.html" %}
{% load staticfiles %}

    {% block title %}HelpMapp-Sistema de Administración:Index{% endblock %}

{% block css %}      <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>{% endblock %}
{% block body %}
      <div class="col-sm-9 col-md-9">
        <h3 id="pageTitle" >Vista nacional</h3>
        <div id="map"></div>
        <script>
            function initMap() {
              var uluru = {lat: -2.1524948, lng: -80.1203414};
              var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 10,
                center: uluru
              });
              var marker = new google.maps.Marker({
                position: uluru,
                map: map
              });
            }
        </script>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpbmElX0xQcjb9FB3Vk32-lj8kNiXcQ7k&callback=initMap">
        </script>
      </div>
    </section>

{% endblock %}
  </div>