{% extends "helpmapp/Administrador/superAdmin/base.html" %}
{% load staticfiles %}
    {% block title %}HelpMapp-Admin:Configurar cuenta{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="css/verCentro-estilo.css">
    <link rel="stylesheet" type="text/css" href="css/estiloImagenes.css">
{% endblock %}    
     {% block body %}
     <section class="col-sm-9 col-md-9">
       <div class="container col-sm-9 col-md-9 ">
        <h3>Ver centro de acopio</h3> 
      </div>
     
     <div class="container col-sm-9 col-md-9" id="info-centro">
       <h4>UPC SALINAS #4</h4>
       <p><b>Dirección: </b>Maria Luis Gonzalez Rubio Serrano 0 Y Calle Los Almendros</p>
       <p><b>Ciudad: </b>Salinas</p>
       <p><b>Provincia: </b>Santa Elena</p>

     </div>
     <div class="container col-sm-9 col-md-9 contenedor-recuadros">
       <div class="recuadro col-md-3 col-sm-3">
         <span id="cantidad">1234 kits</span>
         <p>de alimentos</p>
       </div>
       <div class="recuadro col-md-3 col-sm-3">
         <span id="cantidad2">1234 kits</span>
         <p>de alimentos</p>
       </div>
       <div class="recuadro col-md-3 col-sm-3">
         <span id="cantidad3">1234 kits</span>
         <p>de alimentos</p>
       </div>
     </div>

      </section>    
     <section class="col-sm-5 col-md-5 col-md-offset-3" id="seccion-graficos">
        <div class="panel panel-default">
          
            <button type="button" class="btn btn-info panel-title" data-toggle="collapse" data-target="#grafico1">Número de kits donados por provincia</button>
          
          <div class="panel-body" id="grafico1">
            <img src="img/grafico2.jpg" lt="grafico2">
          </div>
        </div>

     </section>


<div class="container col-sm-8 col-md-offset-3">
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-6 shine_me">
          <img src="./img/centro1.jpg" alt="fotocentro" class="img-responsive"/>
            <i class="shine_effect"></i>
    </div>
        <div class="col-md-4 col-sm-4 col-xs-6 shine_me">
            <img src="./img/centro2.jpg" alt="fotocentro" class="img-responsive"/>
            <i class="shine_effect"></i>
    </div>
        <div class="col-md-4 col-sm-4 col-xs-6 shine_me">
            <img src="./img/centro3.jpg"  alt="fotocentro" class="img-responsive"/>
            <i class="shine_effect"></i>
    </div>
  </div>
</div>

{% endblock %}
{% block scripts %}   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{% endblock %}