.header{

    margin-right: 0px;
    margin-left: 0px;


}
.nav-sidebar{
	background-color: #dedede;
	
}
.navSuperAdmin{
	padding-left: 0;
}
.navbar-div{
	padding-left: 0;

}
nav.sidebar, .main{
	-webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

.form-horizontal .control-label {
	text-align:left;
}
#div_submit{
    text-align:center;
    margin-top: 2em;
}
h3 {
    text-align: left;
    padding-bottom: 1em;
}

img {
	margin: auto;
	width: 50%;
}

#logoDiv {
	text-align: center;

}
.glyphicon{
	font-size:16px;
}
.footer{
	background-color: #333876;
	color: #ffff00;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	/*height: 5%;*/
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: underline;
  background-color: #f1f1f3;
}
.nav>li>a{
	color: #555dbd;
	font-size: 1em;
	font-family: "Yantramanav", sans-serif;
}

#li-cerrar-sesion{
	display: none
}

html {
	position: relative;
	min-height: 100%;
}


body {
	margin: 0 0 60px;
}

.btn-primary{
	background-color: #4799dc;
	border-color: #a6abe4;
}
.navSuperAdmin ~ section{
	margin-bottom: 5%;
}

#cabecera {
	text-align: center;	
	font-size: 1.3em;
	font-family: "Abel", sans-serif;
	letter-spacing: -0.05em;

}

hr {
	margin-top: 0.5%;
	margin-bottom: 0px;
	height: 1px;
	background-color: #212a85;
}

.logout {
	padding-left: 8%;
	padding-right: 0px;
}
#pe-logout a{
	text-decoration: none;
	color: #59595a;
}
#pe-logout a:hover{
	text-decoration: underline;
	color: #0909f3;
	font-size: medium;
}

#pe-logout span{
	margin: 1%;
}



h3 {
	color: #212a85;
	font-size: 1.8em;
	font-family: "Abel", sans-serif ;
	letter-spacing: -0.05em;	


}
#pe-footer{
	position: relative;
    float: left;
    top: 50%;
    transform: translate(0%,-50%);

}
#cerrar-sesion{
 		display: none;
 	}
 .sidebar-secundario>li{
 	padding-left: 1em;
 }
 
 @media only screen and (max-width:768px){
 	
 	.logout{
 		display: none;
 	}
 	#cerrar-sesion{
 		display: inherit;
 	}
 	.navSuperAdmin{
		padding-right: 0px;
	}
	

 }