.chart rect {
    fill: steelblue;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .axis text {
    font-size: 12px;
  }

  .chart .current {
    fill: green;
    cursor: pointer;
  }
.chart-container{
      margin-bottom: 10%;
      margin-left: 4em;
}