{% extends "helpmapp/Administrador/base.html" %}

{% load staticfiles %}

{% block title %} Helpmapp:Administracion {% endblock %}
 <link href="{% static 'css/estiloLogin.css' %} " rel="stylesheet">

{% block css %}
  
   
  {% endblock %}


{% block body %}
  <div class="col-sm-4 col-sm-offset-4">
   <section class="formBox col-sm-12">
        <form method="Post" class="form-horizontal formLogin" action="{% url 'helpmapp.views.mostrar_loginAdmin' %}">
        {% csrf_token %}
          <h4 >Inicio de sesi&oacute;n</h4>
          <div class="form-group">
            <label class="control-label col-sm-5" for="oldpass">Nombre de usuario: </label>
            <div class="col-sm-6">
              {{ form.username }}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-5" for="newpass">Contraseña:</label>
            <div class="col-sm-6">          
              {{ form.password }}
              
            </div>
            
          </div>
          <div class="col-sm-6">
              <a href="{% url 'helpmapp.views.mostrar_recuperarCuenta' %}">¿Olvidaste tu contraseña?</a>
            </div>
          <div class="form-group">        
            <div class="col-sm-offset-2 col-sm-10" id="div_submit">
              <button type="submit" class="btn btn-primary" id="btn-submit">Conectarse</button>
            </div>
        </div>
        </form>
	 </section>
  </div>

  <div class="col-sm-8 col-sm-offset-2">
    <p id="descripcion">
      HelpMapp es una plataforma que presenta información general y detallada de los centros de acopio geolocalizados en todo el país ante una emergencia nacional.
    </p>


  </div>
 {% endblock %}
{% block scripts %}
{% endblock %}