{% extends "helpmapp/Administrador/adminCentro/base.html" %}

{% load static %}

{% block title %}HelpMapp-CAcopio:Configurar cuenta {% endblock %}

  {% block body %}
     
       <div class="container col-sm-9 col-md-9 ">
        <h3>Configuración de cuenta</h3>
        <form method="Post" class="form-horizontal" action="{% url 'helpmapp:mostrar_configuracionCuenta' %}">
          {% csrf_token %}
          <div class="form-group">
            <label class="control-label col-sm-4" for="oldpass">Contraseña actual:</label>
            <div class="col-sm-6">
              {{ form.password_actual }}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4" for="newpass">Nueva contraseña:</label>
            <div class="col-sm-6">          
              {{ form.password }}
            </div>
          </div>
           <div class="form-group">
            <label class="control-label col-sm-4" for="pwd">Confirmar contraseña:</label>
            <div class="col-sm-6">          
              {{ form.confirm_password }}
            </div>
          </div>
          <div class="form-group">        
            <div class="col-sm-offset-2 col-sm-10" id="div_submit">
              <button type="submit" class="btn btn-primary" id="btn-submit">Confirmar</button>
            </div>
        </div>
        </form>
      </div>
      {% if mensaje %}
        <div>
          <p> {{mensaje}}</p>
        </div>
      {% else %}
        
      {% endif %} 
     {% endblock %}}
          
     
       
    <footer class="col-md-12 footer">
         <p>Todos los derechos reservados. TAWS 2017.</p>
    </footer>
   
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/configuracionCuenta-funcionalidades.js"></script>
  </body>
</html>