{% extends "helpmapp/Administrador/adminCentro/base.html" %}
{% load static %}
{% block title %}HelpMapp-Admin:Configurar cuenta{% endblock %}


{% block body %}
    
  <body>
    
  
     
       <div class="container col-sm-9 col-md-9 ">
        <h3>Configuración de centro</h3>
        <form method="Post" class="form-horizontal" action="{% url 'helpmapp:mostrar_configuracionCapacidades' %}">
        {% csrf_token %}
          <div class="form-group">
            <label class="control-label col-sm-4" for="maxagua">Capacidad máxima de agua:</label>
            <div class="col-sm-6">
              {{ form.almacenamiento_agua }}

            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4" for="maxcom"> Capacidad máxima de comida:</label>
            <div class="col-sm-6">          
              {{ form.almacenamiento_ropa }}
            </div>
          </div>

           <div class="form-group">
            <label class="control-label col-sm-4" for="maxropa">Capacidad máxima de ropa:</label>
            <div class="col-sm-6">          
              {{ form.almacenamiento_comida }}

            </div>
          </div>
          
          <div class="form-group">        
            <div class="col-sm-offset-2 col-sm-10" id="div_submit">
              <button type="submit" class="btn btn-primary" id="btn-submit">Guardar</button>
            </div>
          </div>
        </form>
      </div>
     
    {% endblock %}
          
     