{% extends "helpmapp/Administrador/adminCentro/base.html" %}

{% load staticfiles %}
{% block title %} HelpMapp-CAcopio:Ropa Inventario {% endblock %}
{% block css %}

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/inventarioRopa-estilo.css' %">
 {% endblock %}   
  
   

 {% block body %}
     
     <div class="container">
          <h3>Ropa</h3> 
       </div>
     <div class="col-md-5 col-sm-5" id="contenedor-tabla">
       
       {% if ropas %}
         <table class="table table-bordered">
      <thead>
        <tr class="info">
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody>
      {% for ropa in ropas %}
        
          <tr>
          <form = method="Post">
            {% csrf_token %}
            <td>{{ropa.nombre_producto}}</td>
             <input type="hidden" id="name" name="name" value ='{{ropa.id}}'> 
             {% if centro %}
            <input type="hidden" id="centro" name="centro" value ='{{centro.id}}'>
            {% else %}
            {% endif %}
            <td><input type="number" id="cantidad" name="cantidad" ></td>

            <td>
              <select class="form-control lista-acciones">
                <option>Agregar</option>
                <option>Enviar</option>
                <option>Eliminar</option>
              </select>
            </td>
          </form>
          </tr>
       
        {% endfor %}
      </tbody>
    </table>
    <form method="post" action="#">
   <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary"> Actualizar</button>
      </div>
    </div>
    </form>
    {% else %}
        
      {% endif %} 
     </div>
        <div class="container col-md-7">
   
</div>
<div ></div>
   
 {% endblock %}   
     
   