{% extends "helpmapp/Administrador/adminCentro/base.html" %}

{% load staticfiles %}
{% block title %} HelpMapp-CAcopio:Comida Inventario {% endblock %}
{% block css %}
   
    <link rel="stylesheet" type="text/css" href="{% static 'css/inventarioComida-estilo.css' %}">
    <script type="text/javascript" src="{% static 'd3/d3.min.js' %}"></script>
    <script src="{% static 'js/tests/vendor/jquery.min.js' %}"></script>
{% endblock %}  
 {% block body %}
     
     <div class="container col-sm-12 col-md-12 ">
          <h3>Comida</h3> 
          <br>
          
     </div>
    >
     <div class="col-md-5">
       <div  id="contenedor-tabla">
       {% if comidas %}
         <table class="table table-bordered">
      <thead>
        <tr class="info">
          <th>Producto</th>
          <th>Cantidad (kg)</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody>
      {% for comida in comidas %}
        
          <tr>
          <form = method="Post">
            {% csrf_token %}
            <td>{{comida.nombre_producto}}</td>
             <input type="hidden" id="name" name="name" value ='{{comida.id}}'> 
             {% if centro %}
            <input type="hidden" id="centro" name="centro" value ='{{centro.id}}'>
            {% else %}
            {% endif %}
            <td><input type="number" id="cantidad" name="cantidad" ></td>

            <td>
              <select class="form-control lista-acciones">
                <option>Agregar</option>
                <option>Enviar</option>
                <option>Eliminar</option>
              </select>
            </td>
          </form>
          </tr>
       
        {% endfor %}
      </tbody>
    </table>
    <form method="post" action="#">
   <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary"> Actualizar</button>
      </div>
    </div>
    </form>
    {% else %}
        
      {% endif %} 
     </div>
     </div>
	  
      <div class="container col-sm-12 col-md-12">
        <p></p>
      </div>
      {% endblock %}

    {% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    
    
  
    {% endblock %}
 