{% extends "helpmapp/Administrador/adminCentro/base.html" %}

{% load staticfiles %}
{% block title %} HelpMapp-CAcopio:Comida Inventario {% endblock %}
{% block css %}
   
    <link rel="stylesheet" type="text/css" href="{% static 'css/inventarioComida-estilo.css' %}">
    <script type="text/javascript" src="{% static 'd3/d3.min.js' %}"></script>
{% endblock %}  
 {% block body %}
     
     <div class="container col-sm-12 col-md-12 ">
          <h3>Comida</h3> 
          <br>
          
       </div>
       <div class="col-md-6 col-md-offset-6">
         <h4>Kg vs subcategor&iacute;as</h4>
       </div>
     <div class="col-md-5">
       <div  id="contenedor-tabla">
       
       <table class="table table-bordered">
    <thead>
      <tr class="info">
        <th>Producto</th>
        <th>Cantidad (kg)</th>
        <th>Acci&oacute;n</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Arroz</td>
        <td>100</td>

        <td><select class="form-control lista-acciones">
                <option>Agregar</option>
                <option>Enviar</option>
                <option>Eliminar</option>
              </select></td>
      </tr>
      <tr>
        <td>Lentejas</td>
        <td>40</td>

        <td><select class="form-control lista-acciones">
                <option>Agregar</option>
                <option>Enviar</option>
                <option>Eliminar</option>
              </select>
        </td>
      </tr>
      <tr>
        <td>Atún</td>
        <td>120</td>

        <td><select class="form-control lista-acciones">
                <option>Agregar</option>
                <option>Enviar</option>
                <option>Eliminar</option>
              </select>
        </td>
      </tr>
    </tbody>
  </table>
  <form method="post" action="#">
   <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary"> Actualizar</button>
      </div>
    </div>
    </form>
     </div>
     </div>
      <div class="col-md-6 chart-container">
        <svg class="chart"> </svg>
      </div>
      <div class="container col-sm-12 col-md-12">
        <p></p>
      </div>
      {% endblock %}

    {% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    
    <script type="text/javascript" src="{% static 'js/inventarioComida-funcionalidades.js' %}"></script>
    <script type="text/javascript">
    {% if lista %}
      window.onload=animateBarsUp({{% lista %}});
    {% endif%}
    
    </script>
    {% endblock %}
 