{% extends "helpmapp/Administrador/adminCentro/base.html" %}

{% load staticfiles %}
{% block title %} HelpMapp-CAcopio:Ropa Inventario {% endblock %}
{% block css %}

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/inventarioRopa-estilo.css' %">
 {% endblock %}   
  
   

 {% block body %}
     
     <div class="container">
          <h3>Ropa</h3> 
       </div>
     <div class="col-md-5 col-sm-5" id="contenedor-tabla">
       
       <table class="table table-bordered">
    <thead>
      <tr class="info">
        <th>Prenda</th>
        <th>Subcategor&iacute;a</th>
        <th>Cantidad</th>
        <th>Acci&oacute;n</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Pantal&oacute;n</td>
        <td>Hombre</td>
        <td>100</td>

        <td><select class="form-control lista-acciones">
                <option>Agregar</option>
                <option>Enviar</option>
                <option>Eliminar</option>
              </select></td>
      </tr>
      <tr>
        <td>Blusa</td>
        <td>Mujer</td>
        <td>40</td>

        <td><select class="form-control lista-acciones">
                <option>Agregar</option>
                <option>Enviar</option>
                <option>Eliminar</option>
              </select>
        </td>
      </tr>
      <tr>
        <td>Falda</td>
        <td>Niña</td>
        <td>50</td>

        <td><select class="form-control lista-acciones">
                <option>Agregar</option>
                <option>Enviar</option>
                <option>Eliminar</option>
              </select>
        </td>
      </tr>
    </tbody>
  </table>
  <form method="post" action="#">
   <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary"> Actualizar</button>
      </div>
    </div>
    </form>
     </div>
        <div class="container col-md-7">
    <ul class="timeline">
        <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Donaciones de entidades privadas</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
            </div>
            <div class="timeline-body">
              <p>Arribo de 150 prendas provenientes de TIA S.A</p>
            </div>
          </div>
        </li>
        <li>
           <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Donaciones de entidades privadas</h4>
            </div>
            <div class="timeline-body">
              <p>Arribo de 300 prendas provenientes de Corporación La Favorita, desde Quito</p>
            </div>
          </div>
        </li>
        <li>
           <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Envío de donaciones a Calceta</h4>
            </div>
            <div class="timeline-body">
              <p>500 prendas en total fueron entregadas hoy a las 11 am a Calceta.</p>
             
              
            </div>
          </div>
        </li>
        
    </ul>
</div>
<div ></div>
 {% endblock %}   
     
    {% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="{ % static 'js/inventarioComida-funcionalidades.js' %}"></script>
    {% endblock %}
  
